/* @import "tailwindcss";

:root {
  --background: #4dcdf4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  /* color: blue; */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family:'Courier New', Courier, monospace; */
  color: black;
  margin: 0px;
  padding: 0px; 
}

nav {
  padding: 0px; 
  margin: 0px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  display: flex; 
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: rgb(8, 50, 99);
  color: lightblue;
  position: sticky;
}

#homePage {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

#profileInfo {
  display: flex; 
  flex-direction: row; 
  padding: 5px;
  gap: 5px;
}

#profileInfo img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#profileText {
  display: flex;  
  flex-direction: column; 
}

#profileText h1 {
  padding: 10px; 
}

#profileText ul, .artistInfo ul {
  /* padding: 10px;  */
  padding-left: 10px;
  list-style: none;
  /* padding-inline-start: 0; */
}

.heading3 {
  display: flex; 
  align-self: flex-start;
  text-align: left; 
  padding-left: 10px;
}

#topArtists {
  display: flex; 
  flex-direction: column;
  justify-content: left; 
  align-content: flex-start; 
  align-self: flex-start;
  gap: 5px;
  padding-left: 10px;
  flex-basis: 500px; /* Let it fill the entire space horizontally */
}

.artistInfo {
  display: flex; 
  flex-direction: row; 
  justify-content: left;
  /* flex: 0 0 100%; Let it fill the entire space horizontally */
  padding-bottom: 10px;
  gap: 10px;
  width: 500px; /* Let it fill the entire space horizontally */

}

.artistInfo img {
  /* width: 200px;
  height: 200px;  */
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%; 
}

.artistName {
  display: flex; 
  flex-direction: column;
  justify-content: center; 

}